# MongoDB
MONGO_URI=mongodb+srv://root:VTTgLMuwxpgCbjRw@cluster0.xft7o.mongodb.net/nimage?authSource=admin

PORT=3001
NODE_ENV=production

# MongoDB
#MONGODB_URI=mongodb://localhost:27017/nimage

# Redis
REDIS_URI=redis://localhost:6379

# Ollama (opcional)
OLLAMA_URL=http://localhost:11434/api

# Configurações de Cache
CACHE_TTL=3600
CACHE_PREFIX=nimage

# Configurações de Segurança
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=24h